html {
  text-align: "center";
  background-color: rgb(43, 43, 54);
  color: #eee;
  margin: 0 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.descripcion {
  border: thin solid rgb(194, 191, 182);
  margin: 1rem auto;
  padding: 1rem;
  max-width: max-content;
  text-align: left;
}
.contadorHijo {
  border: thin solid rgb(194, 191, 182);
  margin: 1.5rem auto;
  padding: 0.5rem 2rem;
  max-width: 40rem;
  /*   width: 20rem; */
}

.btn-sumar,
.btn-restar {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.1rem 0.5rem;
  width: 3rem;
  box-shadow: 3px 3px 4px rgba(238, 238, 238, 0.685);
}
.btn-sumar {
  background-color: #3d3;
}
.btn-restar {
  background-color: rgb(247, 234, 63);
}
.btn-sumar:hover {
  background-color: rgb(74, 173, 74);
}
.btn-restar:hover {
  background-color: rgb(209, 199, 59);
}
.btn-sumar:active,
.btn-restar:active {
  box-shadow: 1px 1px 4px rgba(238, 238, 238, 0.685);
}
